
/* Body Styling */

body{
    background-color: rgba(223, 224, 219, 1)
}

body a {
    text-decoration: none;
    color: black;
}

/* Navigation/Title Styling */

.Title{
    text-align: center;
    font-family: 'Karla', sans-serif;
}

.Navigation{
    display: inline-block;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.nav-grid-item{
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 10px;
    font-size: 17px;
    /*insert font styling here*/
    font-family: 'Karla', sans-serif;
    text-align: center;
}

/*Case Study Section*/

.Case_Grid{
    display: inline-block;
    width: 100%;
    display: inline-grid;
    /*grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
    font-family: 'Karla', sans-serif;
}

.card-title {
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    color:  rgba(42, 40, 41, 1);
    text-align: center;
    font-weight: 600;
}

.card-body {
    border: 3px solid rgba(42, 40, 41, 1);
    padding: 10px;
    justify-content: center;
}

.card-text {
    /*insert font styling here*/
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    color:  rgba(42, 40, 41, 1);
    text-align: center;
    font-weight: 300;
}

.btn {
    justify-content: center;
    background-color: whitesmoke;
    padding: 5px;
}
/*About Me Section*/

img{
    height: 200px;
    width: 200px;
    float: right;
    border: 3px solid rgba(42, 40, 41, 1);
}

/*Footer Section*/

.Footer_Navigation{
    display: inline-block;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: 'Karla', sans-serif;
}

.grid-item-foot{
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 10px;
    font-size: 17px;
    /*insert font styling here*/
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin-top: 10px;
    background-color: rgba(42, 40, 41, 1);
    color:  rgba(223, 224, 219, 1);

}

/* Heading Styling */

h1{
    text-align: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 4px;
}

h2{
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
}

h3{
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

h4{
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

h5{
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
}

p{
    text-align: left;
    font-family: 'Karla', sans-serif;
}

